@media (min-width: 450px) {
  .user-image img {
    width: 160px;
    height: 160px;
    margin: 10px 0;
  }

  .user-image p {
    text-align: center;
  }
  .reviews-text p {
    font-size: 17px;
  }
}