.filters{
	margin-top: 6%;
}

.background-image-results {
  background-image: url("../img/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg");
  background-size: contain;
  background-repeat: repeat;
} 
