.nav-selector {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-image: none;
  border: none;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.position-nav-selector-absolute{
  position: absolute;
}
.position-nav-selector-none{
  position: none;
}
.nav-selector .navbar-brand {
  cursor: pointer;
  color: white;
}

.nav-selector .navbar-nav li a{
  color: white;
}
.divCollapse{
	color:white;

}

.divFooterContact{
	margin-right: 55%;
}
.divFooterAbout{
	margin-right: 60%;
}
.divFooterThanksTo{
	margin-right: 65%;
}
.divFooterYelperBcn{
	margin-right: 60%;
}

.contacts{
	color: 
}
