.nav-selector {
  margin-top: 350px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: none;
  border: none;
}

.nav-selector .navbar-brand {
  cursor: pointer;
<<<<<<< HEAD
}

.glyphicon-star {
	color: gold;
}

.glyphicon-star-empty {
	color: gold;
=======
  color: white;
}

.nav-selector .navbar-nav li a{
  color: white;
>>>>>>> 29efb9a2152f4e99bb6d81f98780a609f2cc5c9b
}