.background-image {
  background-image: url("./Images/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
h1 {
  margin-top: 200px;
  font-size: 150px;
}

h4 {
  margin-bottom: 100px;
  letter-spacing: 20px;
}

h1, h4 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}