@media (min-width: 450px) {
  .user-image img {
    width: 160px;
    height: 160px;
    margin: 10px 0;
  }

  .user-image p {
    text-align: center;
  }
  
  .reviews-text p {
    font-size: 17px;
    margin-top: 10px;
  }

 .date-format  {
    text-align: right;
  }
}

.zoom:hover {
  position: relative;
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(2.5);
}