.filters {
	margin-top: 7%;
	margin-bottom: 1%;
	margin-left: 1%;
}

.background-image-results {
  background-image: url("../img/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg");
  background-size: cover;
  min-height: 100vh;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
